---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const books = await getCollection("books");
---

<Layout>
    <main>
        <section
            id="servicios"
            class="bg-white py-16 px-6 md:px-12 lg:px-20"
            aria-label="Libros recomendados para programadores"
        >
            <h1
                class="text-center text-2xl sm:text-3xl md:text-4xl font-bold text-gray-100 mb-10"
            >
                Nuestros Servicios
            </h1>
            <div class="px-4 mx-auto max-w-screen-xl">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
                    {
                        books.map((book) => {
                            const { slug, data } = book;
                            const { title, img, description } = data;

                            return (
                                <article class="bg-blue-50 p-6 rounded-lg shadow-amber-400 hover:shadow-lg transition">
                                    <div class="max-w-6xl mx-auto text-center">
                                        <a
                                            href={`/libro/${slug}`}
                                            class="mb-2 xl:mb-0 transition hover:scale-110"
                                        >
                                            <div class="w-full h-40 overflow-hidden flex justify-center items-center mb-4 ">
                                                <img
                                                transition:name={`img-${slug}`}
                                                class="object-cover w-full h-full"
                                                src={`/${img}`}
                                                alt={`${title} - mantenimiento - reparacion - instalación de aire acondicionado en Rosario - recarga de gas refrigerante r22 r410a`}
                                            />
                                            </div>
                                        
                                            <div class="flex flex-col justify-center">
                                                <h2
                                                    transition:name={`title-${slug}`}
                                                    class="text-xl font-semibold mb-2 "
                                                >
                                                    {title}
                                                </h2>

                                                <p class=" text-gray-700 max-w-sm">
                                                    {description}
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </article>
                            );
                        })
                    }
                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    section {
        background-color: rgb(31, 29, 48);
    }
</style>